@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* reset default css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* css for all pages */

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;

}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.nav-btn-hover:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

.hero-section {
  background-image: url('../src/images/hero/hero-img.jpg');
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-text {
  top: 55%;
  right: 12px;
  transform: translate(-50%, -50%);
}

.title-white {
  filter: brightness(0) invert(1);
}

.hero-cta::after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.hero-cta:hover:after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255);
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

.about-section {
  background-image: url('../src/images/who-we-are/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.card-item-div {
  transition: all 0.2s;
}

.card-item-div:hover {

  background-image: url('../src/images/who-we-are/info-card-bg.jpg');

  color: white;
}



.about-cta {
  padding: 1.82rem 3.6rem;
  transition: all 0.3s;
  width: 21rem;
}

.about-cta::after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(63, 63, 63, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.about-cta:hover:after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid #007FFF;
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

.girl-running {
  width: 100%;
  height: 500px;
  top: 60%;
  right: 46%;
  transform: translate(50%, -50%);
  position: absolute;
  z-index: 5;
}

.girl-bg {
  width: 51%;
  height: auto;
  top: 67.7%;
  right: 33%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl-text {
  width: 17%;
  height: auto;
  top: 67.7%;
  right: 84%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl-wind {
  width: 15%;
  height: auto;
  top: 64.7%;
  right: 29%;
  transform: translate(50%, -50%);
  position: absolute;
}

/* grid  ------------------------------------- */

/* after pseudo */
.item-0-div::after,
.item-1-div::after,
.item-2-div::after,
.item-3-div::after,
.item-4-div::after,
.item-5-div::after {
  content: '';
  height: 69px;
  width: 140px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  left: -49px;
  bottom: 50%;
  border-radius: 0 50px 50px 0;
  transform: rotate(30deg);
  transition: all .4s;
  z-index: 5;
}

.item-0-div:hover:after,
.item-1-div:hover:after,
.item-2-div:hover:after,
.item-3-div:hover:after,
.item-4-div:hover:after,
.item-5-div:hover:after {
  background-color: rgb(255, 255, 255);

}

/* before pseudo */
.item-0-div::before,
.item-1-div::before,
.item-2-div::before,
.item-3-div::before,
.item-4-div::before,
.item-5-div::before {
  width: 50%;
  position: absolute;
  transition: all .4s;
  z-index: 6;
  display: block;
  transform: scale(.65);
}

.item-0-div::before {
  content: url('../src/images/features/gym-bike.png');
  left: -25px;
  bottom: 45%;
}

.item-1-div::before {
  content: url('../src/images/features/karate.png');
  left: -1px;
  bottom: 45%;
}

.item-2-div::before {
  content: url('../src/images/features/dumbbell.png');
  left: -1px;
  bottom: 45%;
}

.item-3-div::before {
  content: url('../src/images/features/yoga.png');
  left: -1px;
  bottom: 45%;
}

.item-4-div::before {
  content: url('../src/images/features/boxer.png');
  left: -1px;
  bottom: 45%;
}

.item-5-div::before {
  content: url('../src/images/features/workout.png');
  left: -25px;
  bottom: 45%;
}

.item-0-div:hover:before,
.item-1-div:hover:before,
.item-2-div:hover:before,
.item-3-div:hover:before,
.item-4-div:hover:before,
.item-5-div:hover:before {
  transform: scale(.66);
}

.item-0-div:hover:before {
  content: url('../src/images/features/bike-red.png');
}

.item-1-div:hover:before {
  content: url('../src/images/features/karate-red.png');
}

.item-2-div:hover:before {
  content: url('../src/images/features/dumb-red.png');
}

.item-3-div:hover:before {
  content: url('../src/images/features/yoga-red.png');
}

.item-4-div:hover:before {
  content: url('../src/images/features/boxer-red.png');
}

.item-5-div:hover:before {
  content: url('../src/images/features/workout-red.png');
}

/* grid items */
.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-0:hover,
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0);
}


.item-0-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.item-1-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  overflow: hidden;
}

.item-2-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  overflow: hidden;
}

.item-3-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  overflow: hidden;
}

.item-4-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  overflow: hidden;
}

.item-5-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  overflow: hidden;
}

.item-0 {
  background-image: url('../src/images/features/cycling.jpg');
  width: 100%;
  height: 100%;
}

.item-1 {
  background-image: url('../src/images/features/karate.jpg');
  width: 100%;
  height: 100%;

}

.item-2 {
  background-image: url('../src/images/features/power.jpg');
  width: 100%;
  height: 100%;
}

.item-3 {
  background-image: url('../src/images/features/meditation.jpg');
  width: 100%;
  height: 100%;

}

.item-4 {
  background-image: url('../src/images/features/mma.jpg');
  width: 100%;
  height: 100%;

}

.item-5 {
  background-image: url('../src/images/features/workout.jpg');
  width: 100%;
  height: 100%;
}

/* end of grid ^^ */

.featured-cta {
  background-image: url(../src/images/features/cta-bg.png);
  width: 100%;
  height: 21rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* choose us */

.choose-section {
  background-image: url('../src/images/choose-us/choose-bg.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.video-div::before {
  content: "";
  height: 461px;
  width: 10px;
  background-color: #007FFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%)rotate(174deg);
  transform: translateY(-50%)rotate(174deg);
  right: 10px;
}

.video-div::after {
  content: "";
  height: 42%;
  width: 10px;
  background-color: #007FFF;
  position: absolute;
  bottom: 0;
  left: -30px;
}

.choose-cta {
  transition: all 0.4s;
  margin-top: 4rem;
}

.choose-cta::after {
  border: 2px solid rgb(89, 89, 89, 0.5);
}

.choose-cta:hover:after {
  border: 2px solid #007FFF;
}

/* trainers section */

.trainers-section {
  background-image: url('../src/images/trainers/dot-bg.png');
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
}

.trainers-section::after {
  content: url('../src/images/trainers/bg-attachment.png');
  position: absolute;
  top: 0;
  right: 0;
}

.box-desc::after {
  content: "";
  width: 45px;
  height: 4px;
  background-color: #007FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .4s ease-in-out;
}

.box-desc:hover:after {
  content: "";
  width: 100%;
  height: 4px;
}

/* gallery grid */

.gallery-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 6px;
  height: 100%;

}

#item-0 {
  height: 41rem;
  width: 100%;
  background-color: #DE89DD;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  background-image: url('../src/images/gallery/img1.jpg');
  object-fit: cover;
  background-size: cover;
  /* background-position: 0 510px; */
  background-repeat: no-repeat;
}

#item-1 {

  background-color: #F7D9AB;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 5;

  background-image: url('../src/images/gallery/img2.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: 0px -131px;
  background-repeat: no-repeat;
}

#item-2 {

  background-color: #BC775E;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5;

  background-image: url('../src/images/gallery/img5.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#item-3 {

  background-color: #A89CE7;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;

  background-image: url('../src/images/gallery/img3.jpg');
  object-fit: cover;
  background-size: cover;
  /* background-position: 0 -13px; */
  background-repeat: no-repeat;

}

#item-4 {

  background-color: #DC9F7C;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;

  background-image: url('../src/images/gallery/img4.jpg');
  object-fit: cover;
  background-size: cover;
  /* background-position: 0 -81px; */
  background-repeat: no-repeat;

}

/* bmi section */

.bmi-section {
  background-image: url('../src/images/bmi/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

/* price section */

.pricing-section {
  background-image: url('../src/images/pricing/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing-cta {
  transition: all 0.4s;
  margin-top: 4rem;
}

.pricing-cta::after {
  border: 2px solid #ff03353b;

}

.pricing-cta:hover:after {
  border: 2px solid #007FFF;
}

/* blog section */
.cta-section {
  background-image: url('../src//images/call/background.png');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* cta banner */

.cta-banner-btn {
  padding: 18px 22px;
}

/* gallery */

.gallery-cta {
  display: none;
}

/* login */
.login-section {
  background-image: url('../src/images/who-we-are/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.login-banner {
  background-image: url('../src/images/login/banner.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
}

/* classes page ----- */

.cycling-bg,
.meditaion-bg,
.mma-bg,
.karate-bg,
.power-bg,
.workout-bg,
.cross-bg,
.run-bg {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cycling-bg {
  background-image: url('../src/images/classes/cycling.jpg');
}

.meditaion-bg {
  background-image: url('../src/images/classes/meditation.jpg');
}

.mma-bg {
  background-image: url('../src/images/classes/mma.jpg');
}

.karate-bg {
  background-image: url('../src/images/classes/karate.jpg');
}

.powerlift-bg {
  background-image: url('../src/images/classes/powerlifting.jpg');
}

.workout-bg {
  background-image: url('../src/images/classes/workout.jpg');
}

.crossfit-bg {
  background-image: url('../src/images/classes/cross.jpg');
}

.running-bg {
  background-image: url('../src/images/classes/running.jpg');
}

.box-bg {
  background-image: url('../src/images/classes/box.jpg');
}

.bodybuilding-bg {
  background-image: url('../src/images/classes/bodybuilding.jpg');
}

.yoga-bg {
  background-image: url('../src/images/classes/yoga.jpg');
}

.fitness-bg {
  background-image: url('../src/images/classes/fitness.jpg');
}

/* blog page */

.blog-cta {
  padding: 18px 22px;
  margin-left: 0;
}

.blog-banner {
  background-image: url('../src/images/blogpage/sidebar1.png');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

/* MEDIA QUERIES --------------------------------*/

@media (max-width: 1200px) {
  .navlist-nav {
    display: none;
  }

  .fa-bars {
    display: flex;
  }
}

/* scrollbar ------------------------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A0A0A0 #FFFFFF;
  scroll-behavior: smooth;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background-color: #007FFF;
  border: 1.5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A0A0A0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A0A0A0;
}

/* sign up form section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


.form__title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 8px;
}

.form__description {
  color: #374151;
  text-align: center;
  margin: 0 0 32px;
}

.form__animation {
  background-color: #f7f8fa;
  border-radius: 24px;
  overflow: hidden;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.logo svg {
  width: 24px;
  height: 24px;
}

form {
  width: 100%;
  max-width: 420px;
}

.form-control__label {
  display: block;
  margin: 14px 0 4px;
  color: #0d0c22;
  font-weight: 500;
}

.form-control {
  height: 52px;
  display: block;
  width: 100%;
  border: 1px solid #6b7280;
  padding: 18px 20px;
  transition: outline 200ms ease, box-shadow 200ms ease;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  margin-bottom: 28px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
}

.form-control:user-invalid {
  border-color: #dc2626;
}

.form-control:user-invalid:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 4px rgb(220, 38, 38, .1);
}

.password-field {
  position: relative;
}

.password-field svg {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 13px;
}

.form__submit {
  height: 52px;
  width: 100%;
  display: block;
  background: #0d0c22;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
}

.form__submit:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.password__settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.password__settings__remember {
  font-size: 14px;
  color: #0d0c22;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.password__settings__remember input {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.custom__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #6b7280;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.custom__checkbox svg {
  transform: scale(0);
  width: 16px;
  height: 16px;
}

input:focus + .custom__checkbox {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
}

input:checked + .custom__checkbox svg {
  transform: scale(1);
}

a {
  font-size: 14px;
  color: #0875e4;
  font-weight: 500;
  text-decoration: none;
}

.form__footer {
  font-size: 14px;
  text-align: center;
  margin: 32px 0 0;
}

.ball {
  width: 300px;
  height: 300px;
  padding: 1px;
  border-radius: 100%;
  background: #0875e4;
  animation: bounce 3s ease-out forwards;
  transform: translateY(calc(-50vh - 116px));
}

@keyframes bounce {
  5% {
    height: 300px;
    width: 300px;
  }
  10% {
    height: 300px;
    width: 280px;
  }
  15% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  20%{
    height: 300px;
    width: 320px;
  }
  25% {
     transform: translateY(-200px);
  }
  30% {
    height: 300px;
    width: 300px;
  }
  35% {
    height: 300px;
    width: 280px;
  }
  40% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  45%{
    height: 300px;
    width: 320px;
  }
  50% {
     transform: translateY(-160);
  }
  55% {
    height: 300px;
    width: 300px;
  }
  60% {
    height: 300px;
    width: 280px;
  }
  65% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  70%{
    height: 300px;
    width: 320px;
  }
  75% {
     transform: translateY(-60px);
  }
  80% {
    height: 300px;
    width: 280px;
  }
  85% {
    height: 280px;
    width: 320px;
    transform: translateY(-20px);
  }
  90%{
    height: 300px;
    width: 320px;
  }
  100% {
     transform: translateY(0);
  }
}

.ball__eyes {
  display: flex;
  gap: 60px;
  margin-top: 50px;
  justify-content: center;
}

.eye {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 3px;
  display: block;
}

.eye:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 100%;
  display: block;
}

.ball__mouth {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #000;
  margin: 10px auto;
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
  transition: .3s;
}

.eye_wrap {
  overflow: hidden;
  animation: blink 5s infinite;
  width: 30px;
  height: 30px;
  transition: .3s;;
}

#face, #ball {
  transition: .3s;
}

#ball.sad .eye_wrap:first-child {
  clip-path: polygon(67% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .eye_wrap:last-child {
  clip-path: polygon(0 0, 43% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .ball__mouth {
  transform: scaleY(-1.05);
}

#ball.sad {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
      transform: rotateY(0);
  }
  25% {
      transform: rotateY(-15deg);
  }
  50% {
      transform: rotateY(15deg);
  }
  100% {
      transform: rotateY(0);
  }
}

@keyframes blink {
  0%, 100% {
      transform: scale(1, .05);
  }
  5%,
  95% {
      transform: scale(1, 1);
  }
}

.ball__shadow {
  background: rgb(0 0 0 / 5%);
  box-shadow: 0 0 10px rgb(0 0 0 / 6%);
  height: 20px;
  width: 240px;
  border-radius: 50%;
  transform: scale(0.1);
  animation: shrink 3s forwards;
}

@keyframes shrink {
  5%, 25%, 50%, 75% {
    transform: scale(0.1);
  }
  15%, 40%, 65%, 100% {
    transform: scale(1.1);
  }
}

#ball.look_at {
  transform: rotate(-17deg);
}

@media (max-width: 768px) {
  .form__animation {
    position: fixed;
    background: none;
    right: 0;
    bottom: 0;
  }

  .form__title {
    font-size: 28px;
  }

  .ball {
    width: 100px;
    height: 100px;
    animation: roll_out 1s ease-out forwards;
    transform: translate(103px, 0);
  }

  @keyframes roll_out {
    0% {
      transform: translate(103px, 0) rotate(0);
    }
    100% {
      transform: translate(0, 0) rotate(-360deg);
    }
  }

  .ball__eyes {
    gap: 12px;
    margin-top: 24px;
  }

  .ball__mouth {
    width: 20px;
    height: 20px;
    margin: -1px auto;
  }

  .eye, .eye_wrap {
    width: 20px;
    height: 20px;
  }
  .eye:before {
    width: 10px;
    height: 10px;
  } 

  .ball__shadow {
    display: none;
  }

  main {
    display: block;
    /* padding: 40px 16px; */
  }

  .form {
    padding: 0;
    height: 100%;
  }

  .form__description {
    margin-bottom: 16px;
  }
  
  #face {
    transform: none !important;
  }
}
/* end sign up form section */